p {
/*Content - Width and Height*/
width: 50%; /* % changes with page*/
/*height: 300px;*/

/*Borders*/
border: 2px solid blue;

/*Padding*/
padding: 10px;
padding-left: 40px;

/*Margins*/
/*margin: 100px;*/
/*margin-top: 500px;*/
/*margin: 20px 40px 500px 100px;*/ /* top right bottom left*/
/*margin: 0 auto 0 auto;*/ /* to center */
margin: 0 auto; /* top/bottom right/left only use px when not 0*/
}